* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color--yellow:#f2f02d;
    --color--pink:#eb2971;
    --color--blue:#1d95eb;
    --navbar--height:60px;
    --navbar-color: darkblue;
    --navbar--scrolled--color:  rgba(0,0,119, 0.8);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar--height);
}

img { display: block;}

/* UTILITY CLASSES */

.nowrap {
    white-space: nowrap;
}

/* end of utility classes*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    background-color: aliceblue;
    color: black;
    border: solid 1px black ;
    box-shadow: none;
}
.btn:active {
    transform: scale(0.95);
}

.navbar {
    width:100%;
    height: var(--navbar--height);
    background-image: linear-gradient(to right, var(--color--pink), rgba(173, 31, 83, 1) );
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */

    position:fixed;
}

.navbar__links {
    list-style: none;
    display:flex;
    align-items: center;
    margin:0;

    border-radius: 1em;
    

}
/* .navbar__links li {

    margin-inline: 5px;
    padding: 10px;
    border-radius: 40px;
    transition:background-color  .5s ease-in;

} */
/* comente y modifique li para poder agregar lineas rectas */
.navbar__links li {
    width:60%;
    text-align: center;
}


.navbar__links li a:hover {
    cursor:pointer;
    background-color: black;

}
.navbar__links li a {
    text-decoration:none;
    display: block;
    color: white;
    font-weight: bold;

    margin-inline: 5px;
    padding: 10px;
    border-radius: 40px;
    transition:background-color  .5s ease-in;
}

.logo {
    margin: 0;
    display:flex;
    align-items: center;
}
.logo img {  
    width: 30px;
}

.hamburguer {
    display:none;
}


section {
    padding: 40px 20px;
}

/* HERO SECTION */



.flex-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero {
  
    background-image: linear-gradient(45deg ,#1d95eb, aliceblue);
    min-height: 500px;
    gap: 20px;
    padding: var(--navbar--height) 20px 20px;
}

.hero__image__container img {
    width:100%;
}

/* use la propiedad flex para determinar que la imagen inicie siendo un poco mayor que el texto 
que ambas imagenes crezcan en la misma proporcion,
que en cerca de los 650px haga wrapping 
//el shrink no hace gran efecto// */
.hero__image__container {
    flex: 1 1 350px;
}

.hero__text__container {
    flex: 1 2 300px;
    font-size: 1.2rem;
}

.hero__text__container :is(h1, p) {
    margin-bottom: 20px;
}

.hero__text__container button {
    font-size: 1.2rem;
    display:block;
    margin-inline: auto;

}

/* end hero section */

/* SERVICOS SECTION */
.accordion {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .accordion-item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-header h3 {
    margin: 0;
  }
  
  .accordion-header .icon {
    width: 12px;
    height: 12px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(45deg);
    transition: transform 0.5s;
  }
  
  .accordion-header.active .icon {
    transform: rotate(135deg);
  }
  
  .accordion-content {
    padding: 0 10px;
    height: 0;
    overflow: hidden;
    transition: height,padding  0.5s;
  }
  
  
  .accordion-content.active {
    height: max-content;
    padding:10px;
  }

/* end servicos section   */



/* TABLETS */
@media (min-width: 500px) and (max-width: 900px) {
    .navbar__links li a:hover {
        cursor:pointer;
        background-color:unset;
    
    }
    
    .hamburguer {
        display:block;
    }
    .navbar__links {
        color:black;
        background-color:var(--navbar--scrolled--color);

        position:absolute;
        width:40%;
        padding:0;
        /* height: 250px; */
        height: 0;

        flex-direction: column;
        justify-content: center;

        top:100px;
        right:20px;
        transition: 0.5s;
    
        overflow:hidden;
    }

    .navbar__links.active {
        height: 250px;
    }
    
    .navbar__links li {
        border-bottom: 2px solid gray;
    }
    .navbar__links li:last-child {
        border-bottom: none;
    }

    /* HERO SECTION */
    
}
/* TELEFONOS */
@media (max-width: 499px) {
    .navbar__links li a:hover {
        cursor:pointer;
        background-color:unset;
    
    }
    .hamburguer {
        display:block;
    }
    .navbar__links {
        color:black;
        background-color: var(--navbar--scrolled--color);

        position:absolute;
        width:calc(100vw - 60px);
        padding:0;
        /* height: 250px; */
        height: 0;

        flex-direction: column;
        justify-content: center;

        top:100px;
        right:30px;
        transition: 0.5s;

        overflow:hidden;
    }

    .navbar__links.active {
        height: 250px;
    }
    
    .navbar__links li {
        border-bottom: 2px solid gray;
    }
    .navbar__links li:last-child {
        border-bottom: none;
    }

    /* HERO SECTION */
    .hero__text__container :is(h1, p) {
        text-align: center;
    }
}