* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --navbar--height:80px;
    --navbar-color: darkblue;
    --navbar--scrolled--color:  rgba(0,0,119, 0.8);
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    padding: 0.6em;
    border-radius: 0.2em;
    background-color: aliceblue;
    color: black;
}
.btn:active {
    padding: 0.5em;
    background-color: aliceblue;
    color: black;
    transform: scale(0.9);
}

.navbar {
    width:100%;
    height: var(--navbar--height);
    background-color: var(--navbar-color);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */

    position:fixed;
}

.navbar__links {
    list-style: none;
    display:flex;
    align-items: center;
    margin:0;

    border-radius: 1em;
    

}
/* .navbar__links li {

    margin-inline: 5px;
    padding: 10px;
    border-radius: 40px;
    transition:background-color  .5s ease-in;

} */
/* comente y modifique li para poder agregar lineas rectas */
.navbar__links li {
    width:60%;
    text-align: center;
}


.navbar__links li a:hover {
    cursor:pointer;
    background-color: black;

}
.navbar__links li a {
    text-decoration:none;
    display: block;
    color: white;
    font-weight: bold;

    margin-inline: 5px;
    padding: 10px;
    border-radius: 40px;
    transition:background-color  .5s ease-in;
}

.logo {
    margin: 0;
    display:flex;
    align-items: center;
}
.logo img {  
    width: 30px;
}

.hamburguer {
    display:none;
}

.anchor {
    height:var(--navbar--height);
}

/* HERO SECTION */

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../assets/images/hero_desktop.png);
    background-size: cover;
    background-position: left center;
    width:100%;
    min-height: 600px;
}


/* TABLETS */
@media (min-width: 500px) and (max-width: 900px) {
    .navbar__links li a:hover {
        cursor:pointer;
        background-color:unset;
    
    }
    
    .hamburguer {
        display:block;
    }
    .navbar__links {
        color:black;
        background-color:var(--navbar--scrolled--color);

        position:absolute;
        width:40%;
        padding:0;
        /* height: 250px; */
        height: 0;

        flex-direction: column;
        justify-content: center;

        top:100px;
        right:20px;
        transition: 0.5s;
    
        overflow:hidden;
    }

    .navbar__links.active {
        height: 250px;
    }
    
    .navbar__links li {
        border-bottom: 2px solid gray;
    }
    .navbar__links li:last-child {
        border-bottom: none;
    }

    /* HERO SECTION */
    .hero {
        background-image: url(../assets/images/hero_tablet.png);
        background-position: left bottom;

        min-height: 500px;
    }
}
/* TELEFONOS */
@media (max-width: 499px) {
    .navbar__links li a:hover {
        cursor:pointer;
        background-color:unset;
    
    }
    .hamburguer {
        display:block;
    }
    .navbar__links {
        color:black;
        background-color: var(--navbar--scrolled--color);

        position:absolute;
        width:calc(100vw - 60px);
        padding:0;
        /* height: 250px; */
        height: 0;

        flex-direction: column;
        justify-content: center;

        top:100px;
        right:30px;
        transition: 0.5s;

        overflow:hidden;
    }

    .navbar__links.active {
        height: 250px;
    }
    
    .navbar__links li {
        border-bottom: 2px solid gray;
    }
    .navbar__links li:last-child {
        border-bottom: none;
    }

    /* HERO SECTION */
    .hero {
        background-image: url(../assets/images/hero_phone.png);
        background-position: center bottom;

        min-height: 500px;
    }
}