* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color--yellow:#f2f02d;
    --color--pink:#eb2971;
    --color--blue:#1d95eb;
    --color--pink--alpha:rgba(235, 41, 113, 0.5);
    --navbar--height:60px;
    --navbar-color: darkblue;
    --navbar--scrolled--color:  rgba(0,0,119, 0.8);

    --section--padding:40px 30px;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar--height);
}

img { display: block;}

/* UTILITY CLASSES */

.nowrap {
    white-space: nowrap;
}


/* end of utility classes*/

/* CLASSES FOR ALL BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1.2rem; */
}
.title {
    font-size: 2.5rem;
    text-align: center;
    text-shadow:2px 2px 10px #fff;
    margin-bottom: 40px;
}
.sub-title {
    font-size: 1.8rem;
}
.btn {
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    background-color: aliceblue;
    color: black;
    border: solid 1px black ;
    box-shadow: none;
}
.btn:active {
    transform: scale(0.95);
}

.card {
    padding: 1em;
    border-radius: 0.5em;
    background-color: ghostwhite;
    border: solid darkgray 2px;
    box-shadow: 2px 2px 5px gray;
}

section {
    padding: var(--section--padding);
}
/* end classes for all body */

.navbar {
    width:100%;
    height: var(--navbar--height);
    background-image: linear-gradient(to right, var(--color--pink), rgba(173, 31, 83, 1) );
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */

    position:fixed;
    z-index: 100;
}

.navbar__links {
    list-style: none;
    display:flex;
    align-items: center;
    margin:0;

    border-radius: 1em;
    

}
/* .navbar__links li {

    margin-inline: 5px;
    padding: 10px;
    border-radius: 40px;
    transition:background-color  .5s ease-in;

} */
/* comente y modifique li para poder agregar lineas rectas */
.navbar__links li {
    width:60%;
    text-align: center;
}


.navbar__links li a:hover {
    cursor:pointer;
    background-color: black;

}
.navbar__links li a {
    text-decoration:none;
    display: block;
    color: white;
    font-weight: bold;

    margin-inline: 5px;
    padding: 10px;
    border-radius: 40px;
    transition:background-color  .5s ease-in;
}

.logo {
    margin: 0;
    display:flex;
    align-items: center;
}
.logo img {  
    width: 30px;
}

.hamburguer {
    display:none;
}




/* HERO SECTION */



.flex-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero {
  
    background-image: linear-gradient(45deg ,#1d95eb, aliceblue);
    min-height: 500px;
    gap: 20px;
    padding-top: var(--navbar--height);
}

.hero__image__container img {
    width:100%;
}

/* use la propiedad flex para determinar que la imagen inicie siendo un poco mayor que el texto 
que ambas imagenes crezcan en la misma proporcion,
que en cerca de los 650px haga wrapping 
//el shrink no hace gran efecto// */
.hero__image__container {
    flex: 1 1 350px;
}

.hero__text__container {
    flex: 1 2 300px;
    font-size: 1.2rem;
}

.hero__text__container :is(h1, p) {
    margin-bottom: 20px;
}

.hero__text__container button {
    font-size: 1.2rem;
    display:block;
    margin-inline: auto;

}

/* end hero section */

/* SERVICOS SECTION */


.servicos__section {
    flex-direction: column;
    background-image: linear-gradient(rgba(200,200,200, 0.5),
    rgba(200,200,200, 0.5)),
    url(../assets/images/background_servicos.jpg);
      
    background-position: center;
    background-size: cover;
    padding-bottom:12rem;

    overflow: hidden;
    position:relative;
}

.servicos__gallery {
    width:100%; 
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 1rem;
}

.servicos__gallery .card {
    width:100%;
    display: grid;
}


.card__image__container{
    width:100%;
}
.card__image__container img{
    width:100%;
}
.card__body{
    margin-top: 20px;
    line-height: 1.4;
}
.card__body:first-child{
    margin-top:0;
}

.saber__mais{
    display: block;
    color: #fff;
    background: var(--color--pink);
    margin: 0 auto;

}
.container_btn {
    align-self: end;
    margin-top: 20px;
    position: relative;
}
.saber__mais:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0.7;
    background-color: var(--color--pink--alpha);
    animation: ripple 0.6s ease-out;
  }
  @keyframes ripple {
    to {
      transform: scaleY(6) scaleX(0.8);
      opacity: 0;
    }
  }



.wave {
    position:absolute;
    bottom:0;
    left:0;

    width:100%;
       
}

/* end servicos section   */


/* FAQ SECTION */
.faq__section {
    background-color: var(--color--blue);
}

.accordion {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .accordion-item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-header h3 {
    margin: 0;
  }
  
  .accordion-header .icon {
    width: 12px;
    height: 12px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(45deg);
    transition: transform 0.5s;
  }
  
  .accordion-header.active .icon {
    transform: rotate(135deg);
  }
  
  .accordion-content {
    padding: 0 10px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  
  .accordion-content.active {
    height: max-content;
    padding:10px;
  }

/* end FAQ section */

/* CONTATO SECTION */
.contato__section {
    background-color: #0824b4;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #0824b4 10px ),
     repeating-linear-gradient( #1D95EB55, #1D95EB );
}
.flex-contato{
    gap:20px;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1000px;
    margin-inline: auto;
}

.google__map {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    border:solid rgba(0,0,0,0.5) 2px;

}
.google__map iframe{
    width:100%;
}
.contact_form {
    padding: 30px;
    border-radius:30px;
    background-color: rgba(255,255,255,0.4);

    width:100%;
    min-width: 250px;
    max-width: 400px;



}
.contact_form label{
    font-size: 1.5rem;
    
    display:block;
    margin-bottom: 30px;

}
.contact_form input {
    font-size: inherit;
    width:100%;
    border-radius: 0.5rem;
    display:block;
    border:gray;
    padding: 0.6rem 0.8rem;

}
/* end CONTATO section */

/* TABLETS */
@media (max-width: 900px) {
    .navbar__links li a:hover {
        cursor:pointer;
        background-color:unset;
    
    }
    
    .hamburguer {
        display:block;
    }
    .navbar__links {
        color:black;
        background-color:var(--navbar--scrolled--color);

        position:absolute;
        width:40%;
        padding:0;
        /* height: 250px; */
        height: 0;

        flex-direction: column;
        justify-content: center;

        top:100px;
        right:20px;
        transition: 0.5s;
    
        overflow:hidden;
    }

    .navbar__links.active {
        height: 250px;
    }
    
    .navbar__links li {
        border-bottom: 2px solid gray;
    }
    .navbar__links li:last-child {
        border-bottom: none;
    }

    /* HERO SECTION */

    /* SERVICOS SECTION */
    .servicos__section{
        padding-bottom: 10rem;
    }
    
    
}
/* TELEFONOS */
@media (max-width: 499px) {
    .navbar__links li a:hover {
        cursor:pointer;
        background-color:unset;
    
    }
    .hamburguer {
        display:block;
    }
    .navbar__links {
        color:black;
        background-color: var(--navbar--scrolled--color);

        position:absolute;
        width:calc(100vw - 60px);
        padding:0;
        /* height: 250px; */
        height: 0;

        flex-direction: column;
        justify-content: center;

        top:100px;
        right:30px;
        transition: 0.5s;

        overflow:hidden;
    }

    .navbar__links.active {
        height: 250px;
    }

    
    
    .navbar__links li {
        border-bottom: 2px solid gray;
    }
    .navbar__links li:last-child {
        border-bottom: none;
    }

    /* HERO SECTION */
    .hero__text__container :is(h1, p) {
        text-align: center;
    }
    /* SERVICOS SECTION */
    .servicos__section{
        padding-bottom: 6rem;
    }
    /* CONTATO SECTION */
    .google__map{
        margin: 0 auto;
    }
    .contact_form{
        margin: 0 auto;
    }
}